/* data rows #e7f0ed, #e7ffed */
/* other colors #628ca6, #7fb9c2 along with black and white */
/* font-family Ubuntu, sans-serif */
/* use one class or id selector */
/* use one first-child or nth:child() pseudo classes */
/* use thead, tbody, & tfoot tags in table structure */

/* table header */
body {
    font-family: 'Ubuntu', sans-serif;
}
table {
    box-shadow: 8px 8px 10px #628ca6;
}
thead tr td {
    background-color: #7fb9c2;
    font-size: 1.6em;
}
table, thead, th, td {
    text-align: center;
    border: 1.5px solid rgb(175, 174, 174);
    border-collapse: collapse;
}

th, td {
    padding: 7px;
}

th {
    color: white;
    background-color: #628ca6;
}

tr:nth-child(even) {
    background-color: #e7f0ed;
}

tr:nth-child(odd) {
    background-color: #e7ffed;
}
tfoot tr td {
    background-color: #7fb9c2;
    font-size: .7em;
}
#ocol {
    background-color: #628ca6;
    color: white;
}