@media only screen and (min-width: 1024px) {

/* navigation */

nav {
    max-width: 700px;
}


/* reservation form room section */
.inner li {
    width: 180px;
    flex-direction: column;
    justify-content: space-between;
}

/* end of @media don't type past this */
}