@media only screen and (min-width: 600px) {

/* navigation */



nav button {display: none;}
    
nav div.hide {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 0px;
    text-align: center;
}

/* drop down for services */
.dropbtn {
    padding: 16px;
    font-size: 16px;
}
 
.dropdown {
    display: inline-block;
}
 
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 200px;
}
 
.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
}

/* header */
h1 {
    max-width: 420px;
}

/* contact page */

#mapinfo {
    flex-direction: row;
    justify-content: center;
}

/* reservations page

#reserve, #contactform {
    
    margin: 10px;

}

.outer {
    max-width: 1000px;
    margin: 0 auto;
}

.outer li, .inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.inner {
    padding: 0 8px;
    justify-content: space-between;
}

.outer > li {
    margin-bottom: 20px;
}

.outer li label, .outer li p {
    padding: 8px;
    letter-spacing: .09em;
    color: #353b3c;
    text-transform: uppercase;
}

.outer > li > label, .outer li p {
    flex: 1 0 120px;
    max-width: 220px;
}

.outer > li > label + *, .inner {
    flex: 1 0 220px;
}

.outer li p {
    margin: 0;
}

.outer li input, .outer li textarea {
    padding: 15px;
    border: none;
}

.outer li button{
    margin-left: auto;
    padding: 8px 16px;
    border: none;
    color: #353b3c;
    text-transform: uppercase;
    letter-spacing: .09em;
    border-radius: 2px;
}

.inner li {
    width: 240px;
}

.inner {
    justify-content: space-between;
} */

/* end of @media don't type past this */
}