@media only screen and (min-width: 600px) {

/* navigation */



nav button {display: none;}
    
nav div.hide {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 0px;
    text-align: center;
}

/* drop down for services */
.dropbtn {
    padding: 16px;
    font-size: 16px;
}
 
.dropdown {
    display: inline-block;
}
 
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 200px;
}
 
.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
}

/* header */
h1 {
    max-width: 420px;
}

/* contact page */

#mapinfo {
    flex-direction: row;
    justify-content: center;
}


/* end of @media don't type past this */
}