/* general looks */
body {
    background-color: #0282e4;
    max-width: 960px;
    margin: 0 auto;    
}

h1, h2, h3, h4 {
    font-family: 'Carter One', cursive, sans-serif;
    color: #fff;
}

h2 {
    text-align:center;
}

p, figcaption {
    font-family: 'Stylish', helvetica, sans-serif;
    color: #fff;
}
/* heading */
#icon {
    width: 100px;
    height: 110px;
    border-style: solid;
    border-color: #4a5405;
}

header {
	margin: 10px;
	background-color: #0282e4;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.headings {
	display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
}

.motto {
    font-family: 'Stylish', helvetica, sans-serif;
    color: #fff;
}

/* navigation */
nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: #fff;
}

nav {
    font-family: 'Stylish', helvetica, sans-serif;
    background-color: #863e34;
    color:#fff;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul  {
    margin: 0;
    padding: 0;
    list-style-type: none;
    }

nav ul li a {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    padding: 8px 16px;
    text-decoration: none;
    }

li a:hover {
    background-color: #4a5405;
    color: #bbb;
    }

.active {
    background-color: #611914;
    color: #fff;
    }

nav ul.hide {display: none;}

/* hero image */
.herodiv {
    margin: 10px auto;
    position: relative;
    width: 98%;
}
.hero {
    margin: 10px auto;
    width: 100%;
}

/* weather summary */
.stats {
    position: absolute;
    top: 20px;
    left: 10px;
    background: #863e34; 
    opacity: 0.8;
    border: 2px solid #4a5405;
    padding: .5rem;
    text-align: center;
}  
.stats h3 {
    text-decoration: underline;
}
.stats p {
    padding: .05rem;
    margin: 0;
}

/* 5 day forecast */
.forcast {
    display: none;
}

/* article section */
article {
    margin: 10px;
    padding: 10px;
}

#tempimg {
    float: right;
}

.clearfix {
    overflow: auto;
  }

/* footer */

footer {
    text-align: center
}
#contact {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

/* gallery page */

#gsix {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
}
#gsix img { 
    width: 250px; 
    height: auto; 
    margin: 0;
}
figcaption {
    font-size: smaller;
    padding-left: 5px;
}

#contact2 {
    align-content: center;
}


/* Storm Center Page */

#flook {
    border: solid;
    border-color: #4a5405;
    background-color: #0282e4;
    padding: 15px;
    margin: 15px;
    padding-left: 30px;
}

#freq {
    text-align: center;
}

/* thank you page */

#thanksp {
    border: solid;
    border-color: #4a5405;
    text-align: center;
    background-color: #0282e4;
    margin: 15px;
}