@media only screen and (min-width: 500px) {

    
    /* gallery */

    #gsix {
        display: flex;
        flex-wrap: wrap;
        justify-content: column;
        align-content: center;
    
    
    /* end of @media don't type past this */
    }